vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Oct 2004 07:15:41 -0000
vti_extenderversion:SR|4.0.2.8912
vti_filesize:IR|742
vti_backlinkinfo:VX|mailclient/dispemail.htm mailclient/mainpage.htm mailclient/inbox.htm
vti_nexttolasttimemodified:TR|21 Oct 2004 03:20:04 -0000
vti_author:SR|devxp
vti_timecreated:TR|21 Oct 2004 03:15:23 -0000
vti_cacheddtm:TX|22 Oct 2004 07:15:41 -0000
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
